<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Teaching", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Author", authors_path %></li>
     
       
         
          
             
              
   
       
      
      </ul>
    </nav>
  </div>
</header>